@font-face {
    font-family:agright;
    src: url(../../fuentes/agright\ regular.ttf);
}
@font-face {
    font-family: Dunialy;
    src: url(../../fuentes/Dunialy.otf);
}
@font-face {
    font-family: knocker;
    src: url(../../fuentes/Knocker.ttf);
}

body {
    font-family: agright;
    background-color: #FEEAFA;
    margin: 0;
    padding: 5px;
}

.todo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: #EFD3D7;
    border-radius: 8px;
    box-shadow: 0 0 10px #086788;
    background-image: url(/imagenes/conchitadebautizo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 75%;
}
h1{
    font-family: Dunialy;
    font-size: 4em;
    margin: 1rem;
    text-align: center;
    color: #086788;
}

h2 {
    font-family: Dunialy;
    text-align: center;
    color: #49A078;
    font-size: 3rem;
}

h3 {
    text-align: center;
    color: #49A078;
    font-family: knocker;
    font-size: 2rem;
}

a {
    text-align: center;
    display: block;
    margin: 10px 0;
    color: #086788;
}
a:hover{
    color: #FFE45E;
}
p {
    text-align: center;
    display: block;
    margin: 10px 0;
}
.papas-y-padrinos{
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin: 5px 0;
}

img-left {
    width: 20%;
    position: absolute;
    padding-left: 5%;
    align-items: flex-start;
    margin-right: 60%;
    transition: transform 0.5s ease;
}

.img2 {
    width: 20%;
    position: absolute;
    margin-left: 70%;
    transition: transform 0.5s ease;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #A8DCD1;
    color: #086788;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #FFE45E;
}

#confirmation-message {
    text-align: center;
    margin-top: 20px;
    color: green;
}

@keyframes swing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.swing {
    animation: swing 3s ease-in-out;
}