@font-face {
    font-family: Bella-Cherry;
    src: url(fuentes/Bella-Cherry.otf);
}

@font-face {
    font-family: Dunialy;
    src: url(fuentes/Dunialy.otf);
}

@font-face {
    font-family: knocker;
    src: url(fuentes/Knocker.ttf);
}

body {
    font-family: Bella-Cherry;
    background-color: #FEEAFA;
    margin: 0;
    padding: 5px;
}

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pajaritos {
    align-items: center;
    margin: 2rem;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #EFD3D7;
    border-radius: 8px;
    box-shadow: 0 0 10px #086788;
    background-image: url(imagenes/conchitadebautizo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 75%;
}

.container2 {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #EFD3D7;
    border-radius: 8px;
    box-shadow: 0 0 10px #086788;
    background-image: url(imagenes/eucalipto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 75%;
}

h1 {
    font-family: Dunialy;
    font-size: 2.5em;
    margin: 1rem;
    text-align: center;
    color: #086788;
    animation: fadeIn 2s ease-in-out, slideIn 1s ease-in-out;
}

h2 {
    font-family: Dunialy;
    text-align: center;
    color: #49A078;
    font-size: 2rem;
    animation: fadeIn 3s ease-in-out, slideIn 2s ease-in-out;
}

h3 {
    text-align: center;
    color: #49A078;
    font-family: knocker;
    font-size: 1.5rem;
}

a {
    text-align: center;
    display: block;
    margin: 10px 0;
    color: #086788;
    font-size: 25px;
}

a:hover {
    color: #FFE45E;
}

p {
    font-family: Bella-Cherry;
    font-size: 35px;
    text-align: center;
    justify-content: space-around;
    display: block;
    margin: 10px 0;
    animation: fadeIn 4s ease-in-out, slideIn 2s ease-in-out;

}

.papas-y-padrinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin: 5px 0;
    font-size: 20px;
}

img {
    width: 90px; 
    transition: transform 0.5s ease;
}

.img1 {
    align-self: flex-start;
}

.img2 {
    align-self: flex-end;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #A8DCD1;
    color: #086788;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #FFE45E;
}

#confirmation-message {
    text-align: center;
    margin-top: 20px;
    color: green;
}

.audio-container {
    text-align: center;
    margin-top: 20px;
}

audio {
    width: 80%;
    opacity: 70%;
    animation: fadeIn 1s ease-in-out, slideIn 1s ease-in-out;
}

@keyframes swing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.swing {
    animation: swing 3s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

/* Responsiveness */
@media (min-width: 768px) {
    .todo {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        width: 60%;
        margin: 20px;
    }

    img {
        width: 35%;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }
}
